.page1 {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lato", sans-serif;
  background-color: #57ad9f;

  canvas {
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50vh;
    width: 50vw;
    z-index: 1;

    .profile {
      height: 300px;
      width: 300px;
      // -webkit-animation: float 6s ease-in-out infinite;
      // animation: float 6s ease-in-out infinite;
    }

    .text {
      display: flex;
      flex-direction: column;
      height: 65%;
      width: 65%;

      .heading {
        h2 {
          font-size: 3rem;
          line-height: 2rem;
          color: #161c63;
        }
        h1 {
          font-size: 4rem;
          line-height: 3.3rem;
          color: #161c63;
        }

        b {
          line-height: 4rem;
        }
      }

      p {
        width: 90%;
        font-size: 1.2rem;
        color: #202020;
        margin-bottom: 40px;
      }
    }

    @media only screen and (max-width: 576px) {
      .row {
        flex-direction: column;
      }

      .sign {
        margin-bottom: 12px;
      }
    }

    @media only screen and (max-width: 967px) {
      .wrapper {
        margin-left: 30px;
      }

      .heading {
        h1 {
          font-size: 2.5rem !important;
          margin-bottom: 8.5px;
          line-height: 30px !important;
        }

        b {
          line-height: 90px !important;
        }
      }

      .text {
        width: 95% !important;

        b {
          line-height: 50px;
        }
      }

      .image {
        display: none;
      }
    }
  }

  @media only screen and (max-width: 967px) {
    .wrapper {
      margin-left: 30px;
    }
  }
}

@keyframes float {
  0% {
    -webkit-transform: translatey(0px);
    transform: translatey(0px);
  }

  50% {
    -webkit-transform: translatey(-10px);
    transform: translatey(-10px);
  }

  100% {
    -webkit-transform: translatey(0px);
    transform: translatey(0px);
  }
}
