header {
  background-color: #f7f7f7;
}

.menu {
  text-align: right;
  margin: 0px 50px 00px 50px;
  border-bottom: 0px;
  background-color: #f7f7f7;
}

.ant-menu-item {
  font-family: "Lato", sans-serif;
  a {
    margin-top: 5px;
    font-size: 1.3rem;
    font-weight: 600;
    color: #161c63 !important;
  }
  z-index: 5;
}

.mobile-menu {
  text-align: right;
}

img {
  height: 100%;
  width: 100%;
}

/* when to hide desktop menu */
@media (max-width: 767px) {
  .menu {
    text-align: center;
  }
  .ant-menu-item {
    z-index: 5;
  }
}
